.head {
  height: 60px;
  border: 1px solid #e0e0e0;
  padding-top: 20px;
  -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,.07);
  box-shadow: 0px 5px 5px rgba(0,0,0,.07);
}

.left ,.right {
  display: inline-block;
}

.head .left,
.head .right{
  width: 50%;
}

.head .left span {
  font-size: 18px;
}

.head .right a {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  color: #616161;
}

.head .right a:hover {
  color: rgb(255,103,0);
}

.head .right a:after {
  content: '|';
  margin-left: 5px;
  color: #555;
}

.right a:last-child:after {
  display: none;
}

.head .right a:after:hover {
  color: #555;
}

.body {
  margin-top: 30px;
}

.body .left {
  width: 40%;
}

.body .left img {
  max-width: 100%;
}

.body .right {
  width: 60%;
  text-align: left;
  vertical-align: top;
}

.body .right .text .title h2 {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.body .right .text .desc {
  font-size: 1rem;
}
