.nav {
  margin-top: 20px;
}
.first-screen {
  background-image: url(img/banner.jpg);
  background-size: 140%;
  background-position: center 0;
  background-repeat: no-repeat;
  min-height: 480px;
  font-size: 18px;
  overflow: auto;
  /* -webkit-background-size: contain; */
}

.first-screen .left,
.first-screen .right {
  display: inline-block;
}

.first-screen .left {
  width: 30%;
}

.first-screen .right {
  width: 70%;
  text-align: right;
}

.nav a {
  margin-right: 5px;
  display: inline-block;
  color: #fff;
}

.nav .auth a {
  font-size: 12px;
  font-weight: normal;
}
.nav .link-group {
  margin-top: 5px;
}

.nav .link-group a {
  margin-right: 10px;
  font-size: 17px;
  font-weight: 600;
}
.nav .link-group a:last-child {
  margin-right: 0;
}

.icon-travel {
  display: inline-block;
  width: 19px;
  height: 22px;
  /* vertical-align: bottom; */
  /* position: relative;
  top: -4px; */
}

.logo, .location {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  width: 137px;
  height: 66px;
  background-position:-8px -370px;
  background-repeat: no-repeat;
  background-image: url(../img/sprite.png);
  /* background: rgba(0,0,0,.2); */
}

.location {
  height: 18px;
  color: #eee;
  font-size: 65%;
  padding: 5px;
  background: rgba(0,0,0,.4);
  border-radius: 20px;
}

.icon-location {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url(../img/sprite.png);
  background-position: -183px -18px;
  margin-right: 3px;
}

.location .icon-location,
.location .name {
  position: relative;
}

.location .name {
  display: inline-block;
  bottom: 5px;
  right: 4px;
}

.icon-log {
  display: inline-block;
  width: 18px;
  height: 19px;
  background-repeat: no-repeat;
  /* background: rgba(0,0,0,.3); */
  vertical-align: bottom;
  position: relative;
  background-image: url(../img/sprite.png);
  background-position: -204px -18px;
}

.icon-publish {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../img/sprite.png);
  position: relative;
  background-position: -222px -14px;
}

.main {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
}

.title {
  margin-top: 120px;
}

.sub {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.search-area {
  padding: 20px;
  positive: relative;
}

.menu {
  margin-left: auto;
  text-align: left;
}

.menu span {
  font-size: 14px;
  display: inline-block;
  

}
