* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

.row:before,
.row:after {
  content:"";
  display: block;
  clear: both;
}

.col-1 {
    width: 8.333333333%;
}

.col-2 {
    width: 16.666666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333%;
}

.col-11 {
    width: 91.66666666666%;
}

.col-12 {
    width: 100%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
