body {
  margin: 0;
  font-size: 18px;
  font-family: sans-serif;
  overflow: auto;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  font-size: 0;
  display: block;
}

.col {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}
.right {
  text-align: right;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
}
