.nav {
  margin-top: 20px;
}

.first-screen {
    background-image: url(../img/banner.jpg);
    background-size: 140%;
    background-position: center 0;
    background-repeat: no-repeat;
    height: 610px;
    overflow: auto;
}

.nav .left,
.nav .right,
.logo,
.location,
.icon-location,
.location .name,
 .icon-log{
  display: inline-block;
}

.nav a {
  font-size: 1rem;
  color: #fff;
}

.nav .logo {
  width: 130px;
  height: 66px;
  /* background: rgba(0,0,0,.2); */
  position: relative;
  background-position:-8px -370px;
  background-image: url(../img/sprite.png);
  margin-bottom: 0;
  vertical-align: bottom;
}

.nav .location {
  text-align: center;
  padding:3px 10px;
  /* height: 27px; */
  background: rgba(0,0,0,.4);
  border-radius: 15px;
  margin-bottom:20px;
  cursor:pointer;
}

.icon-location {
  /* display: inline-block; */
  position: relative;
  width: 10px;
  height: 12px;
  background-position: -189px -20px;
  background-image: url(../img/sprite.png);
}

.nav .location .name {
  font-size: 12px;
  line-height: 12px;
  color:#eee;
  /* display: inline-block; */
}
.nav .left {
  width: 30%;
  vertical-align: bottom;
}

.nav .right {
  width: 70%;
}

.nav .right .auth a {
    font-size: 12px;
}

.nav .auth {
  margin-bottom: 10px;
}

.icon-log {
  width: 20px;
  height: 20px;
  /* background:rgba(0,0,0,.3); */
  background-image: url(../img/sprite.png);
  vertical-align: bottom;
  position: relative;
  background-position: -202px -16px;
  margin-right: 3px;
}

.nav .link-group a {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-right: 13px;
}

.nav .link-group a:last-child {
  margin-right: 0;
  margin-left: 10px;
}


.icon-travel img {
  display: inline-block;
  width: 19px;
  height: 22px;
  /* vertical-align: bottom; */
  /* position: relative;
  top: -4px; */
}

.icon-publish {
  width: 7px;
  height: 15px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  /* background: rgba(0,0,0,.3); */
  background-image: url(../img/sprite.png);
  background-position: -225px -15px;
  /* margin-left: 5px;
  margin-right: 5px; */
}

.center {
  margin-top: 100px;
  color:#fff;
}

.center .title .main {
  font-size: 70px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3px;
}

.sub {
  font-size: 20px;
  text-align: center;
}

.search-area {
  padding: 20px;
  margin:0 auto;
  width: 812px;
  height: 127px;
}

.menu {
  /* margin-left: auto; */
  text-align: left;
}

.menu span {
  vertical-align: bottom;
  height: 32px;
  color: #fff;
  padding-right: 20px;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}

/* .search-area .type > *.active {
    color: #fff;
} */

.find {
  height: 80px;
  padding: 0;
}
.find .search-input,
.search-btn {
  height: 60px;
  padding: 5px;
  padding-left: 20px;
  border: 0;
  font-size: 14px;
  /* line-height: 2; */
  vertical-align: bottom;
}

.search-input {
  width: 80%;
}

.search-btn {
  font-size: 18px;
  width:20%;
  background: #00ae66;
  color: #fff;
}

.botton {
  cursor: pointer;
  font-size: 12px;
  padding-top: 70px;
}

.pen {
  display: inline-block;
}

.pen a {
  display: inline-block;
  font-size: 10px;
  color: #fff;
  margin-right: 25px;
}

.pen a img {
  margin-right: 3px;
  position: relative;
  left: 0;
  top: 1px;
  height: 16px;
}

.service-list {
  padding-top:45px;
  padding-bottom: 50px;
}

.service-list .service {
  width: 25%;
}

.service .thumbnail img {
  display: inline-block;
  padding-left:80px;
  width: 30%;
  height: 30%;
  margin-bottom: 15px;
}

.service .text {
  text-align: center;
}

.service .text .title {
  font-size: 18px;
  display: inline-block;
  color: rgb(57,64,67);
  /* margin-bottom: 5px; */
}
.service .text .desc {
  line-height: 18px;
  color: rgb(176,179,180);
  font-size: 12px;
  margin-top: 3px;
}

.main .app {
  background-image: url(../img/bg-app.jpg);
  background-repeat: no-repeat;
  background-size: 140%;
  position: relative;
  background-position: -253px 1px;
  padding-top: 45px;
  height: 479px;
}

.app .left .head {
  width: 286px;
  height: 118px;
  background-image: url(../img/sprite.png);
  background-position: -448px -379px;
  background-repeat: no-repeat;
  margin-bottom: 22px;
}

.app .left .desc {
  line-height: 22px;
  font-size: 80%;
  color: rgb(51,51,51);
}

/* .app .download .left,
.app .download .right {
  width: 50%;
} */

.app .download {
  margin-top: 38px;
}

.app .download .left {
  height: 102px;
}

.app .download .left .row {
  width: 134px;
  height: 44px;
  background-repeat: no-repeat;
  background: rgba(0,0,0,.2);
  background-image: url(../img/sprite.png);
}

.app .download .left .iPhone {
  background-position: -21px -139px;
}

.app .download .left .Android {
  margin-top: 14px;
  background-position: -21px -197px;
}

.app .download .right img {
  width: 102px;
  height: 102px;
  vertical-align: bottom;
}

.cat-promo-used .head .left {
  width: 40%;
}

.cat-promo-used .head .title {
  width: 248px;
  height: 30px;
  background-image: url(../img/sprite.png);
  background-position: -19px -94px;
}

.cat-promo-used .head .desc {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

.cat-promo-used .head .right {
  display: inline-block;
  text-align: right;
  width: 60%;
  vertical-align: bottom;
}

.cat-promo-used .head .right a {
  font-size: 12px;
  color: #394043;
}

.cat-promo-used .card-group {
  margin-top: 40px;
}

.cat-promo-used .card-group .card {
  display: inline-block;
  width: 21%;
  vertical-align: top;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-right:33.333333px
}

.cat-promo-used .card .thumbnail {
  width: 86%;
  position: relative;
}

.cat-promo-used .card img {
  width: 231px;
  height: 192px;
}

.cat-promo-used .card .price {
  padding: 0 8px;
  background: #394043;
  color: #fff;
  font-size: 18px;
  position: absolute;
  left: -2px;
  top: 150px;
  line-height: 30px;
}

.cat-promo-used .card .text {
  padding: 0 18px;
  width: 250px;
  height: 72px;
  margin-bottom: 5px;
}

.cat-promo-used .card .text .title {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 16px;
  color: #394043;
}

.cat-promo-used .card .text .desc {
  padding-top: 10px;
  padding-left: 18px;
  padding-right: 0;
  font-size: 12px;
  color: #999;
}
