.content-card {
  background: #fff;
  padding-left: 15px;
}

.content > * {
  margin-bottom: 10px;
}

.tool-bar > * {
  margin-bottom: 10px;
}

 h2 {
    margin: 15px;
    margin-left: 0;
    margin-top: 5px;
    font-size: 25px;
    color: rgba(0,0,0,.6);
  }

  .table {
    overflow: auto;
  }

  .operate {
     color: rgba(0,0,0,.6);
  }

  .operate:hover {
      background:rgba(0,0,0,.6);
      color: #fff;
  }

  th, td {
    font-size: 15px;
    color: rgba(0,0,0,.6);
    padding: 5px 10px;
    text-align: left;
  }
  th {
      font-weight: normal;
  }


  button {
      border-collapse:collapse;
      line-height: 1.5;
      background: #fff;
      border: 1px solid rgba(0,0,0,.125);
  }

  .pagination {
      margin-top: 25px;
      margin-bottom: 25px;
  }

  .btn-outline-dark {
      margin-top: 15px;
      margin-bottom: 10px;
  }

  .input-control label {
      color: rgba(0,0,0,.6);
      font-size: 15px;
  }

  .input-control input {
      border: 0;
      padding-left: 5px;
  }

  textarea {
      width: 100%;
  }

  .disib {
      display: inline-block !important;
      width: 50%;
  }

  .input-control.row {
      margin:15px 0;
      margin-left: 255px;
  }

  .row > button {
      font-size: 15px;
  }