.side-nav {
  background: #fff;
}

.nav-item {
  color: rgba(0,0,0,.5);
  display: block;
  padding: 10px 20px;
}

.nav-item.active {
  background: rgba(0, 0, 0, .02);
}

.nav-item:hover {
  color: black;
  text-decoration: none;
}
