* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

.row {
  display: block;
  font-size: 0;
}

.col {
  display: inline-block;
  font-size: 1rem;
}

.right {
  text-align: right;
}

.col-lg-1 {
  width: 8.33%;
}

.col-lg-2 {
  width: 16.66%
}

.col-lg-3 {
  width: 25%
}

.col-lg-4 {
  width: 33.33%
}

.col-lg-5 {
  width: 41.66%
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: 58.33333333333%;
}

.col-lg-8 {
  width: 66.66666667%;
}

.col-lg-9 {
  width: 75%;
}

.col-lg-10 {
  width: 83.333333333%;
}

.col-lg-11 {
  width: 91.666666666667%;
}

.col-lg-12 {
  width: 100%;
}

.col-ten-1 {
  width: 10%;
}

.col-ten-2 {
  width: 20%;
}

.col-ten-3 {
  width: 30%;
}

.col-ten-4 {
  width: 40%;
}

.col-ten-5 {
  width: 50%;
}

.col-ten-6 {
  width: 60%;
}

.col-ten-7 {
  width: 70%;
}

.col-ten-8 {
  width: 80%;
}

.col-ten-9 {
  width: 90%;
}

.col-ten-10 {
  width: 100%;
}

@media (max-width:767px) {
  .col-lg-1 {
      width: 8.33%;
  }

  .col-lg-2 {
      width: 16.66%;
  }

  .col-lg-3 {
      width: 25%;
  }

  .col-lg-4 {
      width: 33.33%;
  }

  .col-lg-5 {
      width: 41.66%;
  }

  .col-lg-6 {
      width: 50%;
  }

  .col-lg-7 {
      width: 58.33%;
  }

  .col-lg-8 {
      width: 66.66%;
  }

  .col-lg-9 {
      width: 75%;
  }

  .col-lg-10 {
      width: 83.33%;
  }

  .col-lg-11 {
      width: 91.66%;
  }

  .col-lg-12 {
      width: 100%;
  }
}
