.footer a {
  cursor: pointer;
  color: #757575;
  font-size: 12px;
}

.footer a:hover {
  color: #ff6700;
}

.service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}

.service a {
  text-align: center;
  font-size: 14px;
}

.service a:after {
  content: '|';
  color:inherit;
  color: #e0e0e0;
  position: relative;
  left: 60px;
}

.service a:last-child:after {
  display: none;
}

.footer .link-group {
  padding-top: 30px;
  display: inline-block;
}

.footer .link-group span {
  color: #424242;
  font-size: 14px;
  line-height: 1.25;
}


.footer .link-group > * {
  margin-bottom: 17px;
  display: block;
}

.footer .link-group span {
  margin-bottom: 25px;
}
