.footer a {
  cursor: pointer;
  color: #757575;
  font-size: 12px;
}

.footer a:hover {
  color: #ff6700;
}

.service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}

.service a {
  text-align: center;
  font-size: 14px;
}

.service a:after {
  content: '|';
  color:inherit;
  color: #e0e0e0;
  position: relative;
  left: 60px;
}

.service a:last-child:after {
  display: none;
}

.footer .total-link-group,
.footer .contact {
  vertical-align: top;
  display: inline-block;
}

.footer .link-group {
  padding-top: 30px;
  display: inline-block;
}

.footer .link-group span {
  color: #424242;
  font-size: 14px;
  line-height: 1.25;
}


.footer .link-group a,
.footer .link-group span {
  margin-bottom: 17px;
  display: block;
}

.footer .link-group span {
  margin-bottom: 25px;
}

.footer .contact {
  float: right;
  padding: 27px;
  padding-right: 0;
  font-size: 1rem;
}

.footer .contact > * {
  text-align: center;
  display: block;
}

.footer .contact .num {
  color: #ff6700;
  font-size: 1.5rem;
}

.footer .contact p {
  font-size: 12px;
  color: #616161;
}

.footer .contact .online {
  border:1px solid #ff6700;
  background: #fff;
  color: #ff6700;
  font-size: 12px;
  height: 28px;
  width: 118px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.footer .contact .online:hover {
  background: #ff6700;
  color: #fff;
}

.footer .meta {
  background: #fafafa;
}

.footer .meta .container > * {
  vertical-align: top;
  display: inline-block;
  padding: 30px 0;
}

.footer .meta .container .logo {
  background-image: url(../../img/logo-footer.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 45px;
  width: 45px;
  margin: 30px 0;
  margin-right: 10px;
}

.footer .meta .info-text a {
  color: #757575;
}

.footer .meta .info-text a:hover {
  color: #ff6700;
}

.footer .meta .info-text .sites a:after {
  content: '|';
  color: #757575;
  margin-left: 2px;
  margin-right: 2px;
}

.footer .meta .info-text .sites a:last-child:after {
  display: none;
}

.footer .meta .info-text .auth a,
.footer .meta .info-text .auth span {
  padding-top: 5px;
  line-height: 1.5;
  color: #757575;
  display: block;
  font-size: 12px;
}
.footer .meta .info-links a,
.footer .meta .info-links img {
  display: inline-block;
}

.footer .meta .info-links a img {
  width: 95%;
  height: 25px;
}
