body {
  background:#eac9c9;
}

.first-screen {
  padding-top: 10px;
  background: #eac9c9;
  overflow: hidden;
}

.first-screen a {
  color: #d96969;
}

.first-screen .name img {
  display: inline-block;
  margin-left: 300px;
}

.first-screen .main .col {
  display: inline-block;
  width: 33.333333%;
  padding-top: 20px;
}

.first-screen .main a {
  font-size: 30px;
  display: block;
}

.first-screen .main .code,
.first-screen .main .music,
.first-screen .main .book,
.first-screen .main .film,
.first-screen .main .vintage,
.first-screen .main .outfit {
  position: relative;
}

.first-screen .main .code,
.first-screen .main .music {
  top:30px;
}

.first-screen .main .book {
  top: 137px;
  right: 60px;
}

.first-screen .main .film {
  top: 252px;
  right: -25px;
}

.first-screen .main .vintage {
  top: 137px;
  left: 60px;
}

.first-screen .main .outfit {
  top: 252px;
  left: -25px;
}

.first-screen .main a:hover {
  color: #9d1f1f;
}

.first-screen .main .left a {
  text-align: right;
}

.first-screen .main .right a {
  text-align: left;
}

.first-screen .main .ava img {
  max-width: 100%;
  border-radius: 50%;
}

.btn {
  padding: 10px;
  display: block;
  padding-bottom: 25px;
  margin-top: 15px;
}

.btn img {
  position: relative;
  display: block;
  position: relative;
}

.btn .view {
  left: 289px;
}

.btn .pointer {
  left: 520px;
  top: 20px;
}

.content {
  padding-top: 15px;
  border-top: 1px dashed #d96969;
  background: #eac9c9;
  padding-bottom: 30px;
}

.content .title a {
  width: 50%;
  display: inline-block;
  font-size: 30px;
  color: #d96969;
}

.content .title .more {
  text-align: right;
  font-size: 18px;
}

.content .left,
.content .right {
  padding: 15px;
  display: inline-block;
  width: 50%;
}

.content .body .right {
  text-align: left;
}

.content .left img {
  max-width: 100%;
}

.content .right {
  color: #898187;
}

.content .right .full {
  padding: 10px;
  margin-top: 50px;
  border-radius: 50%;
  border: 1px solid #9d1f1f;
  color: #898187;
  width: 150px;
  height: 40px;
  text-align: center;
}

.content .more-bottom {
  position: relative;
  left: 494px;
  border: 1px solid #898187;
  background: #eac9c9;
  padding: 10px;
  border-radius: 30%;
  color: #d96969;
  font-size: 30px;
}

.content .more-bottom:hover {
  background: #fff;
}

.contact {
  border-top: 1px dashed #d96969;
  /* padding-left: 20px; */
  /* padding-top: 150px; */
  height: 600px;
  background: #eac9c9;
}

.contact .main,
.contact .way {
  padding-top: 100px;
  height: 599px;
  display: inline-block;
}

.contact .main,
.contact .way:hover {
  background: #f8c3c3;
}

.contact .main {
  color: #746370;
  padding-left: 20px;
  background: #eac9c9;
  width: 30%;
}

.contact .main .slogan {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 300px;
}

.contact .main .others a {
  text-decoration: underline;
  padding: 15px;
  display: block;
  font-size: 18px;
  color: #746370;
}

.contact .way {
  color: #746370;
  padding-left: 15px;
  width: 20%;
}

.contact .mail {
  /* border-radius: 10%; */
  background: #e7bcbc;
}

.contact .way .row {
  margin-bottom: 20px;
  font-size: 18px;
}

/*modal======================================*/

[hidden] {
  display: none;
}

@keyframes mymove
{
  from {top:0px;
        left:0px;
        }
  to {top:20px;
      left:30px;
    }
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
  from { top:0px;
        left:0px;
        }
  to { top:20px;
       left:30px;
    }
}

.modal {
  margin-top: 20px;
  background:#eac9c9;
  border-radius: 15px;
  position: relative;
  animation:mymove 3s infinite;
  -webkit-animation: mymove 3s infinite; /*Safari and Chrome*/
  animation-iteration-count:1;
  -webkit-animation-iteration-count:1;
}

.modal.show {
  display: block;
}

.modal .container {
  border-radius: 15px;
  padding: 80px;
  border: 1px solid #978e95;
}

.modal .row > * {
  font-size: 14px;
  color: #d96969;
  font-weight: normal;
}


.modal .left,
.modal .right {
  display: inline-block;
  width: 50%;
  font-size: 1.2rem;
}

.modal .right {
  cursor: pointer;
}

.modal .main {
  padding: 30px;
  padding-bottom: 15px;
  text-align: center;
}

.modal .slogan,
.modal .bottom {
  text-align: center;
}

.modal .slogan {
  font-size: 50px;
}

.modal .bottom span {
  font-size: 1rem;
  font-weight: 500;
}

.modal .close:hover {
  color: #444;
}

/*login==============================*/
.login {
  width: 341px;
  position: absolute;
  padding: 30px;
  top:60px;
  left: 1000px;
  display: inline-block;
  background: #eac9c9;

}

.login .item {
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 0;
  border-bottom: 1px solid #a59f9f;
}

.login .item input,
.login .item span {
  color:#a59f9f;
  font-size: 1rem;
  display: inline-block;
}

.login .item span {
  width: 30%;
}

.login input {
  padding: 5px;
  width: 70%;
  border: none;
  background: #eac9c9;
}
