* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #efefef;
  font-family: sans-serif;
  color: #444;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  font-size: 0;
}

.col {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding: 10px;
}

.sidebar {
  width: 30%;
  background: #eee;
}

.sidebar .right,
.sidebar .left {
  width: 40%;
  display: inline-block;
}

.sidebar .right {
  text-align: right;
  font-size: 13px;
  display: none;
}

.main {
  width: 70%;
}

.editor input,
.editor textarea {
  width: 100%;
  border: 0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
}

.editor textarea {
  height: 300px;
}

.editor input,
.editor textarea,
.sidebar-item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.sidebar-item {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px;
}

.sidebar-item:hover {
  background: #ccc;
  color: #000;
}

.sidebar-item:hover .right {
  display: inline-block;
}