.container {
  max-width: 100%;
}

.nav-article {
  padding: 20px;
  background: #9d1f1f;
}

.nav-article a {
  font-size: 18px;
}

.nav-article > div {
  display: inline-block;
  width: 33.33333%;
}

.nav-article .cat a {
  padding: 10px;
}

.nav-article .search-area {
  font-size: 0;
  padding-left: 95px;
}

.nav-article .search-area .search,
.nav-article .search-area button {
  padding: 5px;
  font-size: 15px;
  display: inline-block;
  margin: 0;
  /* width: 50%; */
}

.article .body {
  background: #eac9c9;
  text-align: center;
  padding-bottom: 15px;
}

.article .body .container {
  font-size: 0;
}

.article .body .update,
.article .body .article,
.article .body .history {
  display: inline-block;
}

.article .body .left,
.article .body .right {
  /* width: 15%;
  height: 400px; */
  text-align: center;
}

.article .body a {
  padding: 15px;
  line-height: 1.5rem;
  display: block;
  color: #9f959d;
  font-size: 16px;
}

.article .body a:hover {
  color: #fff;
  background: #9f959d;
}

.article .body .head {
  padding: 15px;
  line-height: 1.5rem;
  color: #665863;
  font-size: 18px;
}

.article .body .left .update,
.article .body .right .history {
  padding: 30px;
  height: 400px;
  width: 100%;
  background: #f0bcbc;
}

.article .body .article {
  padding-top: 20px;
  width: 70%;
}

.article p {
  text-align: left;
}
