body {
  magrin : 0;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  font-size: 0;
}
.nav {
  background: rgba(0,0,0,.75);
}
.nav a {
  padding: 10px 5px;
  color: #aaa;
  text-decoration: none;
  font-size: 90%;
  display: inline-block;
}
.nav a:hover {
  background: rgba(0,0,0,.8);
  color: #fff;
}
.right {
  text-align: right;
}
.col {
  width: 50%;
  display: inline-block;
  font-size: 15px;
}
