<!-- 通用样式 开始 -->
<link rel="stylesheet" href="../css/lib/normalize.css">
<link rel="stylesheet" href="../css/common/global.css">
<!-- 通用样式 结束 -->

<!-- 页面样式 开始 -->
<link rel="stylesheet" href="../css/component/footer.css">
<!-- 页面样式 结束 -->

<div class="row footer">
  <div class="container">
    <div class="row service">
      <a class="col-ten-2">预约维修服务</a>
      <a class="col-ten-2">7天无理由退货</a>
      <a class="col-ten-2">15天免费换货</a>
      <a class="col-ten-2">满150元包邮</a>
      <a class="col-ten-2">520余家售后网点</a>
    </div>
    <div class="row others">
      <div class="col-lg-9 total-link-group">
        <div class="link-group col-lg-2">
          <span>帮助中心</span>
          <a>账户管理</a>
          <a>购物指南</a>
          <a>订单操作</a>
        </div>
        <div class="link-group col-lg-2">
          <span>帮助中心</span>
          <a>账户管理</a>
          <a>购物指南</a>
          <a>订单操作</a>
        </div>
        <div class="link-group col-lg-2">
          <span>帮助中心</span>
          <a>账户管理</a>
          <a>购物指南</a>
          <a>订单操作</a>
        </div>
        <div class="link-group col-lg-2">
          <span>帮助中心</span>
          <a>账户管理</a>
          <a>购物指南</a>
          <a>订单操作</a>
        </div>
        <div class="link-group col-lg-2">
          <span>帮助中心</span>
          <a>账户管理</a>
          <a>购物指南</a>
          <a>订单操作</a>
        </div>
        <div class="link-group col-lg-2">
          <span>帮助中心</span>
          <a>账户管理</a>
          <a>购物指南</a>
          <a>订单操作</a>
        </div>
      </div>
      <div class="col-lg-3 contact">
        <span class="num">400-100-5678</span>
        <p>周一至周日8:00-18:00<br>
        (仅收市话费)</p>
        <div class="online">在线客服</div>
      </div>
    </div>
  </div>
    <div class="row meta">
      <div class="container">
        <div class="logo"></div>
        <div class="col-lg-7 info-text">
          <p class="sites">
            <a>小米商城</a>
            <a>MIUI</a>
            <a>loT</a>
            <a>云服务</a>
            <a>水滴</a>
            <a>金融</a>
            <a>有品</a>
            <a>Select Region</a>
            <a>MIUI</a>
            <a>loT</a>
            <a>云服务</a>
          </p>
          <p class="auth">
            <a>©mi.com京ICP证110507号
            京ICP备10046444号
            京公网安备11010802020134号
            京网文[2014]0059-0009号</a>
            <span>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</span>
          </p>
        </div>
        <div class="col-lg-4 info-links">
          <a class="col-ten-2"><img src="../img/info-link1.png"></a>
          <a class="col-ten-2"><img src="../img/info-link2.png"></a>
          <a class="col-ten-2"><img src="../img/info-link3.png"></a>
          <a class="col-ten-2"><img src="../img/info-link4.png"></a>
          <a class="col-ten-2"><img src="../img/info-link5.png"></a>
        </div>
      </div>
    </div>
</div>
