<link rel="stylesheet" href="../css/lib/normalize.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<link rel="stylesheet" href="../css/common/global.css">
<link rel="stylesheet" href="../css/component/nav.page.css">

<div class="row nav-page">
  <div class="container">
    <div class="col logo">
      <img src="../img/mi-logo.png">
    </div>
    <div class="col col-lg-8 link-group">
      <a>全部商品分类</a>
      <a>小米手机</a>
      <a>红米</a>
      <a>电视</a>
      <a>笔记本</a>
      <a>盒子</a>
      <a>新品</a>
      <a>路由器</a>
      <a>智能硬件</a>
      <a>服务</a>
      <a>社区</a>
    </div>
    <div class="col col-lg-3 search-area">
      <input type="search">
      <div class="search"><i class="fab fa-angellist"></i></div>
      <a>红米Note 5</a>
      <a>小米MIX 2</a>
    </div>
  </div>
</div>
