.nav-global {
  background: #333;
  height: 40px;
}

.nav-global a {
  display: inline-block;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 12px;
  color: #b0b0b0;
}

.nav-global a:after {
  content: '|';
  color: rgba(0,0,0,.3);
  margin-left: 5px;
  font-size: 150%;
}

.nav-global a:last-child:after {
  display: none;
}

.nav-global a:hover {
  color: #fff;
}

.top {
  margin-top: 22px;
  margin-bottom: 22px;
}

#logo {
  width: 48px;
  height: 48px;
  background: #ff6700;
  display: inline-block;
}

#logo img {
  position: relative;
}

.nav-page {
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav-page a {
  color: rgba(0,0,0,.8);
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.nav-page a:hover {
  color: #ff6700;
}


.search-area {
  font-size: 0;
}

.search-area:focus {
    border-color: #ff6700;
}

.search-area .search {
  position: relative;
}

.search-area .search input,
.search-area .search button {
  font-size: 12px;
  display: inline-block;
}

.search-area .search input {
  border: 1px solid rgba(0,0,0,.2);
  height: 35px;
  padding-left: 8px;
  /* padding-top: 5px; */
}

.search-area .search button {
  vertical-align: bottom;
  height: 35px;
  border: 1.3px solid rgba(0,0,0,.2);
  background: rgb(255,255,255);
  border-left: 0;
}

.search-area .search button:hover {
  color: #fff;
  background: #ff6700;
}

.rec-list {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 10px;
}

.rec-list .rec {
  padding-left: 3px;
  padding-right: 3px;
  background: rgba(0,0,0,.1);
  margin-right: 5px;
  font-size: 12px;
  color: #757575;
  cursor: pointer;
}

.rec-list .rec:hover {
  color: #fff;
  background: #ff6700;
}

.center .main-promo {
  height: 400px;
  /* width: 1100px; */
  background-image: url(../img/center-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-promo .leader {
  background: rgba(0,0,0,.5);
  /* padding: 20px; */
  height: 400px;
}

.center .main-promo .leader a {
  height: 30px;
  color: #fff;
  font-size: 15px;
  display: block;
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.center .main-promo .leader a:hover {
  background: #ff6700;
}

.center .fast {
  margin-top: 14px;
  height: 170px;
}

.center .fast .channel {
  height: 170px;
  background:#5f5750;
}

.center .fast .channel .row {
  height: 85px;
}

.center .fast .channel .row a {
  padding-top: 30px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  color: rgb(207,205,203);
  cursor: pointer;
}

.center .fast .channel .row a:hover {
  color: #fff;
}

.fast img {
  height: 100%;
}

.main {
  margin-top: 22px;
  background: rgb(245,245,245);
  padding: 10px;
}

.head {
  margin-bottom: 10px;
}

.promo .leader img {
  height: 90%;
}

.promo .card-group .col {
  padding: 10px;
}

.promo .card-group .card {
  padding: 15px;
  padding-top: 0;
  vertical-align: top;
  background: #fff;
}

.card-group .card .text {
  text-align: center;
}

.promo .card-group .card:hover {
  box-shadow: 1px 1px 1px #888;
}

.main .theme .title {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.main .theme span {
  display: block;
  text-align: center;
}

.theme .card-group .col {
  padding: 10px;
}

.theme .card-group .card {
  border-top: 1px solid #ff6700;
  padding: 20px;
  padding-top: 30px;
  vertical-align: top;
  background: #fff;
}

.theme .card-group .card:hover {
  box-shadow: 3px 2px 1px #888;
}
