<!-- 全局样式 开始 -->
<link rel="stylesheet" href="../css/lib/normalize.css">
<link rel="stylesheet" href="../css/common/global.css">
<!-- 全局样式 结束 -->

<!-- 页面样式 开始 -->
<link rel="stylesheet" href="../css/component/nav.css">
<link rel="stylesheet" href="../css/component/nav-sm.css">
<!-- 页面样式 结束 -->

<div class="row nav">
  <div class="col left">
    <a href="index.html">(◐‿◑)﻿</a>
  </div>
  <div class="col middle">
    <a href="about.html">About</a>
    <a href="articles.html">Articles</a>
    <a href="contact.html">Contact</a>
  </div>
  <div class="col right">
    <a href="index.html">(｡ì_í｡)</a>
  </div>
</div>
