.nav-article {
  padding: 20px;
  background: #9d1f1f;
}

.nav-article a {
  font-size: 18px;
}

.nav-article > div {
  display: inline-block;
  width: 33.33333%;
}

.nav-article .cat a {
  padding: 10px;
}

.nav-article .search-area {
  font-size: 0;
  padding-left: 95px;
}

.nav-article .search-area .search,
.nav-article .search-area button {
  padding: 5px;
  font-size: 15px;
  display: inline-block;
  margin: 0;
  /* width: 50%; */
}

.article {
  background: #eac9c9;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.article p {
  text-align: left;
}
