.first-screen {
  padding-top: 10px;
}

.first-screen .name img {
  display: inline-block;
  margin-left: 300px;
}

.first-screen .main .col {
  display: inline-block;
  width: 33.333333%;
  padding-top: 20px;
}

.first-screen .main a {
  font-size: 30px;
  display: block;
}

.first-screen .main .code,
.first-screen .main .music,
.first-screen .main .book,
.first-screen .main .film,
.first-screen .main .vintage,
.first-screen .main .outfit {
  position: relative;
}

.first-screen .main .code,
.first-screen .main .music {
  top:30px;
}

.first-screen .main .book {
  top: 137px;
  right: 60px;
}

.first-screen .main .film {
  top: 252px;
  right: -25px;
}

.first-screen .main .vintage {
  top: 137px;
  left: 60px;
}

.first-screen .main .outfit {
  top: 252px;
  left: -25px;
}

.first-screen .main a:hover {
  color: #9d1f1f;
}

.first-screen .main .left a {
  text-align: right;
}

.first-screen .main .right a {
  text-align: left;
}

.first-screen .main .ava img {
  max-width: 100%;
  border-radius: 50%;
}

.btn {
  padding: 10px;
  display: block;
  padding-bottom: 25px;
  margin-top: 50px;
}

.btn img:hover {
  border: 3px solid  #999;
}

.btn img {

  border-radius: 50%;
  border: 3px solid  #9d1f1f;
  display: inline-block;
  position: relative;
  left: 340px;
}
